# This is the settings file for j5c_install_from_source_001
# Please copy this file, and  make changes as desired to the copy
# Name this file:  'Install_Settings.cfg'
# Placement:  This file needs to be in the same directory as Install.sh
# Install.sh will look for the configuration file in the same directory as it is running from.

# Descriptions and Meanings of the Settings File are below.
#
# Settings / Meanings / Help
# =================================
# This line is a comment...
# If the first char is not "#" it is the delimiter for the line.
# For Example all lines have
# Delimiter : Name : Value
# : TestName1 : TestValue1
# * TestName2 * TestValue2
# Do not add any comments after the values on the same line, it will be considered part of the value.
#
# Ok so now you know the rules -- lets begin --
#
#                 Listing Settings : Values
#=========================================================
# 1.  prefer a 3 letter abbreviation of company name
:      Section_a1_Abbr_CompanyName : zzz
#
# 2.  In order to keep the paths as short as possible
#       I recommend to use the default prefix
#          by using true on the next option.
#           Or you can change the default prefix,
#
#       Instead of the default listed below you might want to
#         go with the default of /home
#
:    Section_a2_The_Default_Prefix : /opt
#
# 3.         use true or false only
:            Section_a3_Use_Prefix : true
#
# 4.   use leading zeros for a 3 digit number
:      Section_a4_The_Path_Version : 001
#
#  using the original information above the destination path will be:
#     /usr/local/zzz/p001/...  (3) = true
#     /zzz/p001/...            (3) = false
#
#    total path to a server like mariadb would be
#     /usr/local/zzz/p001/usr/mariadb/bin    (3) = true
#     /zzz/p001/usr/mariadb/bin              (3) = false
#
#
#    so that is why the prefix is not recommended because the paths get too long
#    and just adds more work to the server for nothing.
#
#
# 5.  The options are (copy using the exact case provided)
#          CentOS, Fedora, Linux Mint, Red Hat, Mac OSX
:  Section_a5_The_Operating_System : Red Hat
#
#
# 6.   You need to have this true for the first
#          run until the dependencies are successfully loaded
#          at least once, then you can set this to false
#          for future runs, it will skip downloading the
#          dependencies again.
#          (You probably should still do yum update daily though.)
:      Section_a6_Run_Dependencies : true
#
# 7.        Enable Protection Mode : true or false
#     Note: this will only protect future installs
#       if something is already protected you have to remove a file
#       placed in the source directory of the program being installed.
#       Since every program is stored in a separate directory you will
#       be provided a command to run to remove the protection, which
#       must be run by hand.  This is to prevent accidentally overwriting
#       an installation that may be of some value.
:   Section_a7_Enable_Protect_Mode : true
#
#   Debug Notes:
#   In order to do debugging each different program / server has a
#      debug switch "Debug_Only" valid values are true or false;
#      If debugging is turned on the Debug_Level is used to control
#      what functions are run.
#
#      Level 0 = run code up to pre make (configuration) files.
#      Level 1 = run pre-make (configuration) files
#      Level 2 = run make clean (if it exists)
#      Level 3 = run make
#      Level 4 = run (make) test(s)
#      Level 5 = run make install
#      level 6 = run post install configurations
#      level 7 = run everything
#

#
#  Program specific options
#

#                 Listing Settings : Values (Defaults)
#=========================================================
# Note: I am not ready for the pgp files yet so skip them...
:                libgpg-error->Skip : true
:         libgpg-error->Compression : .tar.bz2
:          libgpg-error->Debug_Only : false
:         libgpg-error->Debug_Level : 7
:            libgpg-error->Do_Tests : true
:         libgpg-error->Script_Only : false
:             libgpg-error->Version : 1.45
:             libgpg-error->Website : https://gnupg.org:
:                libgpg-error->WGET : https://gnupg.org/ftp/gcrypt/libgpg-error/
:           libgpg-error->Sha256sum : 570f8ee4fb4bff7b7495cff920c275002aea2147e9a1d220c068213267f80a26
#
#                 Listing Settings : Values (Defaults)
#=========================================================
# Note: I am not ready for the pgp files yet so skip them...
:                       gnupg->Skip : true
:                gnupg->Compression : .tar.bz2
:                 gnupg->Debug_Only : false
:                gnupg->Debug_Level : 7
:                   gnupg->Do_Tests : true
:                gnupg->Script_Only : false
:                    gnupg->Version : 2.3.4
:                    gnupg->Website : https://gnupg.org
:                       gnupg->WGET : https://gnupg.org/ftp/gcrypt/gnupg/
:                  gnupg->Sha256sum : f3468ecafb1d7f9ad7b51fd1db7aebf17ceb89d2efa8a05cf2f39b4d405402ae
#
#                 Listing Settings : Values (Defaults)
#=========================================================
:                       cmake->Skip : false
:                cmake->Compression : .tar.gz
:                 cmake->Debug_Only : false
:                cmake->Debug_Level : 7
:                   cmake->Do_Tests : true
:                cmake->Script_Only : false
:                    cmake->Version : 3.30.1
:                    cmake->Website : https://cmake.org
:                       cmake->WGET : https://cmake.org/files/v3.30/
:                  cmake->Sha256sum : df9b3c53e3ce84c3c1b7c253e5ceff7d8d1f084ff0673d048f260e04ccb346e1
#
#                  Listing Settings : Values (Defaults)
#=========================================================
:                      libzip->Skip : false
:               libzip->Compression : .tar.gz
:                libzip->Debug_Only : false
:               libzip->Debug_Level : 7
:                  libzip->Do_Tests : true
:               libzip->Script_Only : false
:                   libzip->Version : 1.10.1
:                  libzip-> Website : https://libzip.org
:                      libzip->WGET : https://libzip.org/download/
:                 libzip->Sha256sum : 9669ae5dfe3ac5b3897536dc8466a874c8cf2c0e3b1fdd08d75b273884299363
#
#                  Listing Settings : Values (Defaults)
#=========================================================
:                       perl5->Skip : false
:                perl5->Compression : .tar.gz
:                 perl5->Debug_Only : false
:                perl5->Debug_Level : 7
:                   perl5->Do_Tests : true
:                perl5->Script_Only : false
:                    perl5->Version : 5.40.0
:                    perl5->Website : http://www.cpan.org
:                       perl5->WGET : http://www.cpan.org/src/5.0/
:                  perl5->Sha256sum : c740348f357396327a9795d3e8323bafd0fe8a5c7835fc1cbaba0cc8dfe7161f
#
#                  Listing Settings : Values (Defaults)
#=========================================================
:                     openssl->Skip : false
:              openssl->Compression : .tar.gz
:               openssl->Debug_Only : false
:              openssl->Debug_Level : 7
:                 openssl->Do_Tests : true
:              openssl->Script_Only : false
:                  openssl->Version : 3.3.1
:                  openssl->WebSite : https://www.openssl.org
:                     openssl->WGET : https://www.openssl.org/source/
:                openssl->Sha256sum : 777cd596284c883375a2a7a11bf5d2786fc5413255efab20c50d6ffe6d020b7e
#                  Listing Settings : Values (Defaults)
#=========================================================
:                        judy->Skip : false
:                 judy->Compression : .tar.gz
:                  judy->Debug_Only : false
:                 judy->Debug_Level : 7
:                    judy->Do_Tests : true
:                 judy->Script_Only : false
:                     judy->Version : 1.0.5
:                     judy->WebSite : http://judy.sourceforge.net/doc/Judy_3x.htm
:                        judy->WGET : https://sourceforge.net/projects/judy/files/latest/download/
:                   judy->Sha256sum : d2704089f85fdb6f2cd7e77be21170ced4b4375c03ef1ad4cf1075bd414a63eb
#                  Listing Settings : Values (Defaults)
#=========================================================
#
#    MariaDB seem to change their mind on how to deploy there code everytime I start to work on this.
#    So for now, I am just doing this by hand, also, more companies are expecting users to git clone
#    everything and not provide tar balls.  And now companies are having subprojects that need to get
#    updated too.  So I have to write a new section of code to deal with these new realities.
#    Besides, it is probably just easier to download and start a container at this point.
:
:                     mariadb->Skip : true
:              mariadb->Compression : .tar.gz
:               mariadb->Debug_Only : false
:              mariadb->Debug_Level : 7
:                 mariadb->Do_Tests : true
:              mariadb->Script_Only : false
:              mariadb->PrefixName  : server
:                  mariadb->Version : 11.4.2
:                  mariadb->WebSite : https://mariadb.org/
:                     mariadb->WGET : https://dlm.mariadb.com/3827291/MariaDB/mariadb-11.4.2/yum/centos/mariadb-11.4.2-rhel-7-x86_64-rpms.tar
:                mariadb->Sha256sum : 01aee38b8a9a539d6ceb7b2f1e314f0cb1f2d375d140ef9151719240838a869d
#
#                  Listing Settings : Values (Defaults)
#=========================================================
:                         apr->Skip : false
:                  apr->Compression : .tar.bz2
:                   apr->Debug_Only : false
:                  apr->Debug_Level : 7
:                     apr->Do_Tests : true
:                  apr->Script_Only : false
:                      apr->Version : 1.7.4
:                      apr->WebSite : https://apr.apache.org/
:                         apr->WGET : http://www.apache.org/dist/apr/
:                    apr->Sha256sum : fc648de983f3a2a6c9e78dea1f180639bd2fad6c06d556d4367a701fe5c35577
#
#                  Listing Settings : Values (Defaults)
#=========================================================
:                    apr-util->Skip : false
:             apr-util->Compression : .tar.bz2
:              apr-util->Debug_Only : false
:             apr-util->Debug_Level : 7
:                apr-util->Do_Tests : true
:             apr-util->Script_Only : false
:                 apr-util->Version : 1.6.3
:                 apr-util->WebSite : https://apr.apache.org/
:                    apr-util->WGET : http://www.apache.org/dist/apr/
:               apr-util->Sha256sum : a41076e3710746326c3945042994ad9a4fcac0ce0277dd8fea076fec3c9772b5
#
#                  Listing Settings : Values (Defaults)
#=========================================================
:                   apr-iconv->Skip : false
:            apr-iconv->Compression : .tar.bz2
:             apr-iconv->Debug_Only : false
:            apr-iconv->Debug_Level : 7
:               apr-iconv->Do_Tests : false
:            apr-iconv->Script_Only : false
:                apr-iconv->Version : 1.2.2
:                 apr-icon->WebSite : https://apr.apache.org/
:                   apr-iconv->WGET : http://www.apache.org/dist/apr/
:              apr-iconv->Sha256sum : 7d454e0fe32f2385f671000e3b755839d16aabd7291e3947c973c90377c35313
#
#                  Listing Settings : Values (Defaults)
#=========================================================
:                       pcre2->Skip : false
:                pcre2->Compression : .tar.bz2
:                 pcre2->Debug_Only : false
:                pcre2->Debug_Level : 7
:                   pcre2->Do_Tests : false
:                pcre2->Script_Only : false
:                    pcre2->WebSite : https://pcre.org/
:                    pcre2->Version : 10.44
:                       pcre2->WGET : https://github.com//PCRE2Project/pcre2/releases/download/pcre2-10.44/
:                  pcre2->Sha256sum : d34f02e113cf7193a1ebf2770d3ac527088d485d4e047ed10e5d217c6ef5de96
#
#                  Listing Settings : Values (Defaults)
#=========================================================
:                      apache->Skip : false
:               apache->Compression : .tar.bz2
:                apache->Debug_Only : false
:               apache->Debug_Level : 7
:                  apache->Do_Tests : false
:               apache->Script_Only : false
:                   apache->Version : 2.4.62
:                   apache->WebSite : https://httpd.apache.org/
:                      apache->WGET : http://www.apache.org/dist/httpd/
:                 apache->Sha256sum : 674188e7bf44ced82da8db522da946849e22080d73d16c93f7f4df89e25729ec
#
#                  Listing Settings : Values (Defaults)
#=========================================================
:                       perl6->Skip : false
:                perl6->Compression : .tar.gz
:                 perl6->Debug_Only : false
:                perl6->Debug_Level : 7
:                   perl6->Do_Tests : true
:                perl6->Script_Only : false
:                    perl6->Version : 2024.06
:                   perl6->FileName : rakudo
:                    perl6->WebSite : https://rakudo.org/
:                       perl6->WGET : https://rakudo.org/dl/rakudo/
:                  perl6->Sha256sum : 467959f9d1e6c69e39089b5ae090fd100762b71deeb7ba594631407c34f5202f
#
#                  Listing Settings : Values (Defaults)
#=========================================================
:                         php->Skip : false
:                  php->Compression : .tar.gz
:                   php->Debug_Only : false
:                  php->Debug_Level : 7
:                     php->Do_Tests : false
:            php->Compile_For_Debug : false
:                  php->zts_version : 20170718
:                  php->Script_Only : false
:                      php->Version : 8.2.22
:                      php->WebSite : https://php.net/
:                         php->WGET : https://www.php.net/distributions/
:                    php->Sha256sum : 44197016c9eeed5c50523e20eb44adc4dd9d84ac08bdf9e46077e775d467d7d0
#
#      This next line is not a skip - it is an install, so true to install, false to not install
:               php->Xdebug_Install : true
:                  php->Xdebug_Name : xdebug
:               php->Xdebug_Version : 3.2.2
:           php->Xdebug_Compression : .tgz
:           php->WebSite_For_Xdebug : https://xdebug.org/
:                  php->Xdebug_WGET : https://xdebug.org/files/
:           php->Xdebug_Tar_Options : -xzf
:                 Xdebug->Sha256sum : b0f3283aa185c23fcd0137c3aaa58554d330995ef7a3421e983e8d018b05a4a6
#                             todo -- add code to use XDebug->Sha256Sum for Xdebug
#
#                  Listing Settings : Values (Defaults)
#=========================================================
:                        poco->Skip : false
:                 poco->Compression : .tar.gz
:                  poco->Debug_Only : false
:                 poco->Debug_Level : 7
:                    poco->Do_Tests : false
:                 poco->Script_Only : false
:                     poco->Version : 1.13.3
:                     poco->WebSite : https://pocoproject.org/
:                        poco->WGET : https://pocoproject.org/releases/poco-1.13.3/
:                   poco->Sha256sum : 5bb8781e26245f337afd526fe443eebdc1b1647bee8a607de9a363884dd7b322
#
#                  Listing Settings : Values (Defaults)
#=========================================================
:                     postfix->Skip : true
:              postfix->Compression : .tar.gz
:               postfix->Debug_Only : false
:              postfix->Debug_Level : 7
:                 postfix->Do_Tests : false
:              postfix->Script_Only : false
:                  postfix->Version : 3.7.2
:                  postfix->WebSite : https://postfix.org
:                     postfix->WGET : https://ghostarchive.org/postfix/postfix-release/official/
:                postfix->Sha256sum : 3785f76c2924a02873c0be0f0cd124a9166fc1aaf77ea2a06bd4ad795a6ed416
#
#                  Listing Settings : Values (Defaults)
#=========================================================
:                      python->Skip : false
:               python->Compression : .tar.xz
:                python->Debug_Only : false
:               python->Debug_Level : 7
:                  python->Do_Tests : true
:               python->Script_Only : false
:                   python->Version : 3.12.4
:                   python->WebSite : https://www.python.org/
:                      python->WGET : https://www.python.org/ftp/python/3.12.4/
:                 python->Sha256sum : f6d419a6d8743ab26700801b4908d26d97e8b986e14f95de31b32de2b0e79554
#
#                  Listing Settings : Values (Defaults)
#=========================================================
:                        ruby->Skip : false
:                 ruby->Compression : .tar.gz
:                  ruby->Debug_Only : false
:                 ruby->Debug_Level : 7
:                    ruby->Do_Tests : true
:                 ruby->Script_Only : false
:                     ruby->Version : 3.2.5
:                     ruby->WebSite : https://www.ruby-lang.org
:                        ruby->WGET : https://cache.ruby-lang.org/pub/ruby/3.2/
:                   ruby->Sha256sum : ef0610b498f60fb5cfd77b51adb3c10f4ca8ed9a17cb87c61e5bea314ac34a16
#
#                 Listing Settings : Values (Defaults)
#=========================================================
:                         tcl->Skip : false
:                  tcl->Compression : .tar.gz
:                   tcl->Debug_Only : false
:                  tcl->Debug_Level : 7
:                     tcl->Do_Tests : false
#                                     because testing as root will cause tests to fail
:                  tcl->Script_Only : false
:                      tcl->Version : 8.6.14
:                      tcl->WebSite : https://www.tcl.tk/
:                         tcl->WGET : https://prdownloads.sourceforge.net/tcl/
:                    tcl->Sha256sum : 5880225babf7954c58d4fb0f5cf6279104ce1cd6aa9b71e9a6322540e1c4de66
#
#                  Listing Settings : Values (Defaults)
#=========================================================
:                          tk->Skip : false
:                   tk->Compression : .tar.gz
:                    tk->Debug_Only : false
:                   tk->Debug_Level : 7
:                      tk->Do_Tests : true
:                   tk->Script_Only : false
:                       tk->Version : 8.6.14
:                       tk->WebSite : https://www.tcl.tk/
:                          tk->WGET : https://prdownloads.sourceforge.net/tcl/
:                     tk->Sha256sum : 8ffdb720f47a6ca6107eac2dd877e30b0ef7fac14f3a84ebbd0b3612cee41a94
#
#=========================================================
:                   wxwidgets->Skip : false
:            wxwidgets->Compression : .tar.bz2
:             wxwidgets->Debug_Only : false
:            wxwidgets->Debug_Level : 7
:               wxwidgets->Do_Tests : true
:            wxwidgets->Script_Only : false
:                wxwidgets->Version : 3.2.5
:                   wxwidgets->WGET : https://github.com/wxWidgets/wxWidgets/releases/download/v3.2.5/
:              wxwidgets->Sha256sum : 0ad86a3ad3e2e519b6a705248fc9226e3a09bbf069c6c692a02acf7c2d1c6b51
#
# The end of settings...
