# The default settings file is /j5c/Install_Settings_Defaults.cfg

# Please copy this file, and  make changes as desired to the copy
# Then save the copy with the name /j5c/Install_Settings.cfg
#
# Settings / Meanings / Help
# =================================
# This line is a comment...
# If the first char is not "#" it is the delimiter for the line.
# For Example all lines have
# Delimiter : Name : Value
# : TestName1 : TestValue1
# * TestName2 * TestValue2
#
# Ok so now you know the rules -- lets begin --
#
#    Listing Settings : Values
#=========================================================
#  prefer a 3 letter abbreviation of company name
:      Section_a1_Abbr_CompanyName : zzz
#
#  use true or false only
:      Section_a2_CreateScriptOnly : false
#
#      use leading zeros for a 3 digit number
:      Section_a3_The_Path_Version : 001
# The options are (copy using the exact case provided)
#   CentOS
#   Linux Mint
#   Red Hat
#   Mac OSX
#
:  Section_a4_The_Operating_System : Red Hat
#
#    Listing Settings : Values (Defaults)
#=========================================================
:                 perl->Build_Name : /zzz/p001/Installation_Builds_p001.txt
:                perl->Compression : .tar.gz
:                 perl->Debug_Only : true
:                   perl->Do_Tests : true
:                   perl->RTN_Path : /zzz/p001
:                   perl->SRC_Path : /zzz/p001/src/perl
:                   perl->STG_Path : /j5c/stg/perl
:                perl->Script_Only : false
:                   perl->TST_Path : /zzz/p001/tst/perl
:                    perl->This_OS : Red Hat
:                   perl->USR_Path : /zzz/p001/usr/perl
:                    perl->Version : 5.26.1
:                       perl->WGET : http://www.cpan.org/src/5.0/
#
#    Listing Settings : Values (Defaults)
#=========================================================
:                 ruby->Build_Name : /zzz/p001/Installation_Builds_p001.txt
:                ruby->Compression : .tar.gz
:                 ruby->Debug_Only : true
:                   ruby->Do_Tests : true
:                   ruby->RTN_Path : /zzz/p001
:                   ruby->SRC_Path : /zzz/p001/src/ruby
:                   ruby->STG_Path : /j5c/stg/ruby
:                ruby->Script_Only : false
:                   ruby->TST_Path : /zzz/p001/tst/ruby
:                    ruby->This_OS : Red Hat
:                   ruby->USR_Path : /zzz/p001/usr/ruby
:                    ruby->Version : 2.5.0
:                       ruby->WGET : https://cache.ruby-lang.org/pub/ruby/2.5/
#
#    Listing Settings : Values (Defaults)
#=========================================================
:                  tcl->Build_Name : /zzz/p001/Installation_Builds_p001.txt
:                 tcl->Compression : .tar.gz
:                  tcl->Debug_Only : true
:                    tcl->Do_Tests : true
:                    tcl->RTN_Path : /zzz/p001
:                    tcl->SRC_Path : /zzz/p001/src/tcl
:                    tcl->STG_Path : /j5c/stg/tcl
:                 tcl->Script_Only : false
:                    tcl->TST_Path : /zzz/p001/tst/tcl
:                     tcl->This_OS : Red Hat
:                    tcl->USR_Path : /zzz/p001/usr/tcl
:                     tcl->Version : 8.7a1
:                        tcl->WGET : https://prdownloads.sourceforge.net/tcl/
#
#    Listing Settings : Values (Defaults)
#=========================================================
:                   tk->Build_Name : /zzz/p001/Installation_Builds_p001.txt
:                  tk->Compression : .tar.gz
:                   tk->Debug_Only : true
:                     tk->Do_Tests : true
:                     tk->OLD_Path : /zzz/p001/src/tcl
:                     tk->RTN_Path : /zzz/p001
:                     tk->SRC_Path : /zzz/p001/src/tk
:                     tk->STG_Path : /j5c/stg/tk
:                  tk->Script_Only : false
:                     tk->TST_Path : /zzz/p001/tst/tk
:                      tk->This_OS : Red Hat
:                     tk->USR_Path : /zzz/p001/usr/tk
:                      tk->Version : 8.7a1
:                         tk->WGET : https://prdownloads.sourceforge.net/tcl/
#
#    Listing Settings : Values (Defaults)
#=========================================================
:                  apr->Build_Name : /zzz/p001/Installation_Builds_p001.txt
:                 apr->Compression : .tar.bz2
:                  apr->Debug_Only : true
:                    apr->Do_Tests : true
:                    apr->RTN_Path : /zzz/p001
:                    apr->SRC_Path : /zzz/p001/src/apr
:                    apr->STG_Path : /j5c/stg/apr
:                 apr->Script_Only : false
:                    apr->TST_Path : /zzz/p001/tst/apr
:                     apr->This_OS : Red Hat
:                    apr->USR_Path : /zzz/p001/usr/apr
:                     apr->Version : 1.6.3
:                        apr->WGET : http://www.apache.org/dist/apr/
#
#    Listing Settings : Values (Defaults)
#=========================================================
:             apr-util->Build_Name : /zzz/p001/Installation_Builds_p001.txt
:            apr-util->Compression : .tar.bz2
:             apr-util->Debug_Only : true
:               apr-util->Do_Tests : true
:               apr-util->RTN_Path : /zzz/p001
:               apr-util->SRC_Path : /zzz/p001/src/apr-util
:               apr-util->STG_Path : /j5c/stg/apr-util
:            apr-util->Script_Only : false
:               apr-util->TST_Path : /zzz/p001/tst/apr-util
:                apr-util->This_OS : Red Hat
:               apr-util->USR_Path : /zzz/p001/usr/apr-util
:                apr-util->Version : 1.6.1
:                   apr-util->WGET : http://www.apache.org/dist/apr/
#
#    Listing Settings : Values (Defaults)
#=========================================================
:            apr-iconv->Build_Name : /zzz/p001/Installation_Builds_p001.txt
:           apr-iconv->Compression : .tar.bz2
:            apr-iconv->Debug_Only : true
:              apr-iconv->Do_Tests : true
:              apr-iconv->RTN_Path : /zzz/p001
:              apr-iconv->SRC_Path : /zzz/p001/src/apr-iconv
:              apr-iconv->STG_Path : /j5c/stg/apr-iconv
:           apr-iconv->Script_Only : false
:              apr-iconv->TST_Path : /zzz/p001/tst/apr-iconv
:               apr-iconv->This_OS : Red Hat
:              apr-iconv->USR_Path : /zzz/p001/usr/apr-iconv
:               apr-iconv->Version : 1.2.2
:                  apr-iconv->WGET : http://www.apache.org/dist/apr/
#
#    Listing Settings : Values (Defaults)
#=========================================================
:                 pcre->Build_Name : /zzz/p001/Installation_Builds_p001.txt
:                pcre->Compression : .tar.bz2
:                 pcre->Debug_Only : true
:                   pcre->Do_Tests : true
:                   pcre->RTN_Path : /zzz/p001
:                   pcre->SRC_Path : /zzz/p001/src/pcre
:                   pcre->STG_Path : /j5c/stg/pcre
:                pcre->Script_Only : false
:                   pcre->TST_Path : /zzz/p001/tst/pcre
:                    pcre->This_OS : Red Hat
:                   pcre->USR_Path : /zzz/p001/usr/pcre
:                    pcre->Version : 8.41
:                       pcre->WGET : https://ftp.pcre.org/pub/pcre/
#
#    Listing Settings : Values (Defaults)
#=========================================================
:                pcre2->Build_Name : /zzz/p001/Installation_Builds_p001.txt
:               pcre2->Compression : .tar.bz2
:                pcre2->Debug_Only : true
:                  pcre2->Do_Tests : true
:                  pcre2->RTN_Path : /zzz/p001
:                  pcre2->SRC_Path : /zzz/p001/src/pcre2
:                  pcre2->STG_Path : /j5c/stg/pcre2
:               pcre2->Script_Only : false
:                  pcre2->TST_Path : /zzz/p001/tst/pcre2
:                   pcre2->This_OS : Red Hat
:                  pcre2->USR_Path : /zzz/p001/usr/pcre2
:                   pcre2->Version : 10.30
:                      pcre2->WGET : https://ftp.pcre.org/pub/pcre/
#
#    Listing Settings : Values (Defaults)
#=========================================================
:               apache->Build_Name : /zzz/p001/Installation_Builds_p001.txt
:              apache->Compression : .tar.bz2
:               apache->Debug_Only : true
:                 apache->Do_Tests : true
:                 apache->RTN_Path : /zzz/p001
:                 apache->SRC_Path : /zzz/p001/src/apache
:                 apache->STG_Path : /j5c/stg/apache
:              apache->Script_Only : false
:                 apache->TST_Path : /zzz/p001/tst/apache
:                  apache->This_OS : Red Hat
:                 apache->USR_Path : /zzz/p001/usr/apache
:                  apache->Version : 2.4.29
:                     apache->WGET : http://www.apache.org/dist/httpd/
#
#    Listing Settings : Values (Defaults)
#=========================================================
:              mariadb->Build_Name : /zzz/p001/Installation_Builds_p001.txt
:             mariadb->Compression : .tar.bz2
:              mariadb->Debug_Only : true
:                mariadb->Do_Tests : false
:                mariadb->RTN_Path : /zzz/p001
:                mariadb->SRC_Path : /zzz/p001/src/mariadb
:                mariadb->STG_Path : /j5c/stg/mariadb
:             mariadb->Script_Only : false
:                mariadb->TST_Path : /zzz/p001/tst/mariadb
:                 mariadb->This_OS : Red Hat
:                mariadb->USR_Path : /zzz/p001/usr/mariadb
:                 mariadb->Version : 10.3.3
:                    mariadb->WGET : https://downloads.mariadb.org/interstitial/
#
#    Listing Settings : Values (Defaults)
#=========================================================
:                  php->Build_Name : /zzz/p001/Installation_Builds_p001.txt
:                 php->Compression : .tar.bz2
:                  php->Debug_Only : true
:                    php->Do_Tests : false
:              php->Install_Xdebug : true
:                    php->RTN_Path : /zzz/p001
:                    php->SRC_Path : /zzz/p001/src/php
:                    php->STG_Path : /j5c/stg/php
:                 php->Script_Only : false
:                    php->TST_Path : /zzz/p001/tst/php
:                     php->This_OS : Red Hat
:                    php->USR_Path : /zzz/p001/usr/php
:                     php->Version : 7.1.13
:                        php->WGET : http://php.net/get/
#
#    Listing Settings : Values (Defaults)
#=========================================================
:                 poco->Build_Name : /zzz/p001/Installation_Builds_p001.txt
:                poco->Compression : .tar.gz
:                 poco->Debug_Only : true
:                   poco->Do_Tests : false
:                   poco->RTN_Path : /zzz/p001
:                   poco->SRC_Path : /zzz/p001/src/poco
:                   poco->STG_Path : /j5c/stg/poco
:                poco->Script_Only : false
:                   poco->TST_Path : /zzz/p001/tst/poco
:                    poco->This_OS : Red Hat
:                   poco->USR_Path : /zzz/p001/usr/poco
:                    poco->Version : 1.8.1
:                       poco->WGET : https://pocoproject.org/releases/
#
#    Listing Settings : Values (Defaults)
#=========================================================
:               python->Build_Name : /zzz/p001/Installation_Builds_p001.txt
:              python->Compression : .tar.xz
:               python->Debug_Only : true
:                 python->Do_Tests : true
:                 python->RTN_Path : /zzz/p001
:                 python->SRC_Path : /zzz/p001/src/python
:                 python->STG_Path : /j5c/stg/python
:              python->Script_Only : false
:                 python->TST_Path : /zzz/p001/tst/python
:                  python->This_OS : Red Hat
:                 python->USR_Path : /zzz/p001/usr/python
:                  python->Version : 3.6.4
:                     python->WGET : https://www.python.org/ftp/python/3.6.4/
#
#    Listing Settings : Values (Defaults)
#=========================================================
:              postfix->Build_Name : /zzz/p001/Installation_Builds_p001.txt
:             postfix->Compression : .tar.bz2
:              postfix->Debug_Only : true
:                postfix->Do_Tests : true
:                postfix->RTN_Path : /zzz/p001
:                postfix->SRC_Path : /zzz/p001/src/postfix
:                postfix->STG_Path : /j5c/stg/postfix
:             postfix->Script_Only : false
:                postfix->TST_Path : /zzz/p001/tst/postfix
:                 postfix->This_OS : Red Hat
:                postfix->USR_Path : /zzz/p001/usr/postfix
:                 postfix->Version : 3.2.4
:                    postfix->WGET : https://archive.mgm51.com/mirrors/postfix-source/official/
#
#
# The end of settings...